*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration: none!important;
}
body{
	background-color:#F5F5F5;
}

h1{
	font-family: 'Merriweather', serif;
	font-size:160%;
}
.facustom{
	color: #B71C1C;
	font-size: 18px;
}
p{
	font-family: 'Maitree', serif;
	font-size:100%;
}
.datetime{
	font-size: 80%!important;
	font-style: italic;
}
.headerfont{
	font-family: 'Maitree', serif!important;
	font-size:120%;
}
.bgstyleheader{
	margin-bottom: 30px;
	border-bottom:5px solid #B71C1C;
}
.bgstyleheader span{
	background-color: #B71C1C!important;
	padding:5px 10px 0px 10px;
	color:white;
}
#wrapper{
	max-width:1400px;
	margin:auto;
}
#carouselcustom img{
	width:100%;
	height:440px;
}
#carouselcustom h1{
	color:white!important;
	font-size:160%;
	font-weight:900;
}

#carouselcustom p{
	color:white!important;
	font-weight:700;
	font-size:140%;
}

#carouselcustom a{
	text-decoration: none;
}
.searchbutton{

}
.searchbutton button{
	padding:5px 10px;
	background-color: #B71C1C;
	border-color:#B71C1C;
	color:white;
}
.activenav{
	background-color: #B71C1C!important;
}

.active{
	background-color:white!important;
}


/*********************** header starts **************************/ 

.topnav_bg{
	background-color:black!important;
}

.topnav{
	padding:3px!important;
	margin-right: 60px;
}

.socialmedia{
	margin-left: 60px;
}

.socialmedia a{
	color:white;
	font-size: 20px;
	padding-left: 10px;
	text-decoration: none;
}
.socialmedia span{
	font-size: 15px;
}

.topnav a{
	padding:3px 10px!important;
	margin:0px!important;
	text-decoration: none;
	color:white;
}

.bgcolor{
	background-color: #B71C1C!important;
	border-color: #B71C1C!important;
	border-radius: 0px;
	color: white!important;
	font-size: 18px;
}

.bgcolor a{
	color: white!important;
}

.logoimg{
	width:120px;
	height:100px;
}

.headerlogo_bg{
	background-color: #BDBDBD;
}

#logo{
	margin:10px 10px 40px 50px;
	padding:20px;
}

#adbanner{
	margin-right:62px;
}

#adbanner img{
	margin:2px 10px 50px 10px;
	width:500px;
	height:75px;
}

#myNavbar{
	margin-left: 50px;
}
/*********************** header ends **************************/ 


/*********************** footer starts **************************/ 

#contactinfo p{
	font-size:120%!important;
}

.topfooter_bg{
	background-color:black!important;
	padding:5px;
}

.footercontent_bg{
	background-color: #BDBDBD;
	padding:20px 0px;
}

.copyright_bg{
	background-color: #B71C1C!important;
	
}

.copyright{
	margin-left: 60px;
}

.copyright p{
	color:white;
	font-size:18px;
	padding:10px 5px;
}

.designedby{
	margin-right: 60px;
}

.designedby p{
	color:white;
	font-size:18px;
	padding:10px 5px;
}

.designedby a{
	text-decoration: none;
}
/*********************** footer ends **************************/ 



/*************************************************/ 
/********************* section starts ****************************/

#section{
	padding:10px 70px;
}

.adbannerpost img{
	width:100%;
	height:100px;
}
.aboutside{
	margin-top:30px;
}
#latestpostside{
	margin-top:20px;
}
.latestnewspost{
	margin:20px 0px;
}
.latestnewspost h1{
	color:#B71C1C!important;
	text-align: justify;
}

.latestnewspost p{
	text-align: justify;
	color:black!important;
}

.latestnewspost a{
	text-decoration: none;
}

.thoughtoftheday{
	margin-top:50px;
}

.subpost{
	margin-top:50px;
}
.subpost a{
	color:black;
}

.subpost h1{
	color:#B71C1C!important;
	text-align: justify;
}

.subpost p{
	text-align: justify;
	color:black!important;
}
.homenewspost{
	margin:20px 0px;
}
.newspagepostcontent h1{
	color:#B71C1C!important;
	font-size: 140%!important;
	text-align: justify;
}

.newspagepostcontent p{
	text-align: justify;
	color:black!important;
	font-size: 120%!important;
}



.newspagepostcontent a{
	text-decoration: none;
}
.newspagepostcontent {
	margin:50px 0px;
}
.pagepaginationbuttom a{
	background-color:#B71C1C!important;
	color:white;
}

.newscontentpage h1{
	color:#B71C1C!important;
	font-size: 140%!important;
	text-align: justify;
}

.newscontentpage p{
	text-align: justify;
	color:black!important;
	font-size: 120%!important;
}

.newscontentpage img{
	margin:20px 0px;
}

/********************* section ends ****************************/
/*************************************************/ 